itsdangerous==0.23
Jinja2==2.7.2
FormEncode==1.2.6
Flask==0.10.1
Flask-RESTful==0.2.11
Flask-Babel==0.9
Werkzeug==0.9.4
elementtree==1.2.6-20050316
nose==1.3.0
-e git://github.com/daaku/python-urlencoding.git#egg=urlencoding
-e git://github.com/rhooper/python-oauth.git#egg=oauth
